VITE_MSAL_CLIENT_ID=<YOUR_CLIENT_ID>
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/<YOUT_TENANT_ID>

# npm run dev or docker run
# VITE_REDIRECT_URI=http://localhost:5173
# VITE_BACKEND_URI=http://localhost:8000/api

# k8s 
# VITE_REDIRECT_URI=https://msal.local
# VITE_BACKEND_URI=https://msal.local/api
