VITE_MSAL_CLIENT_ID=<YOUR_CLIENT_ID>
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/<YOUT_TENANT_ID>
VITE_REDIRECT_URI=<APPLICATION_URI_REDIRECT> # Something like: http://localhost:5173 or your production dns
VITE_BACKEND_URI=<VITE_BACKEND_URI>
